.App {
  text-align: center;
}

table {
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  align:center;
    border-collapse: collapse;
    margin:0 auto;
}
th,td{
    padding: 10px 20px;
    font-size: 0.9em;
}
th,td:not(:last-of-type){
    border:2px solid;

}
a.button {
    padding:5px;
    margin:5px;
    background:black;
    color: white;
    border-radius: 10px;
    background: black ;
    text-align: center

}

a.button:hover {
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(183, 174, 184, 0.93) 0 3px 8px,
            rgba(0, 0, 0, 0.27) 0 3px 8px -3px;
    cursor: pointer;
}
a.button:active {
    background: rgba(255,255,255,.7);
    color:black;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
.infoAboutMaster{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.infoRight,.infoLeft{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    padding:10px;

}
.infoLeft{
    flex-basis: 220px;
}
.infoRight{
    flex-basis: 550px;
}
.monolog{
    padding:20px;
    background: beige;
    box-shadow: 0 0 3px 1px #151719;
    word-wrap: break-word;
    text-size:10px;
    text-transform: none;
    font-style: italic;

}
.infoLeft img{
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.8),
    inset 0 2px 0 rgba(255,255,255,.5),
    inset 0 -1px 0 rgba(0,0,0,.4);
}
.workMaster{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: flex-start;
}




